In [9]:
# positional arguments 

def impute_age(name, age):
    print('My name is ', name , ' and I am ' , age , ' years old.')

impute_age('Prajjwol Thapa', 21)

My name is  Prajjwol Thapa  and I am  21  years old.

In [10]:
# mixing positional and keyword arguments 

def mixing_args(dog, cat):
    print('I have a dog named as ', dog, 'and cat named as ', cat)

mixing_args('Khairey', cat='Millie')

I have a dog named as  Khairey and cat named as  Millie

In [12]:
# passing different data types 

def my_function(fruits):
    for fruit in fruits:
        print(fruit)
        
fruit = ['Apple', 'Banana', 'Grapes']
my_function(fruit)

Apple
Banana
Grapes

In [14]:
# returning values 

def add_number(x,y):
    return x+y

add_number(2,3)

5

In [18]:
# returning different data types 

def my_pets():
    return ['Dog', 'Cat', 'Lion']

pets = my_pets()

pets[2]

'Lion'

In [21]:
# positional only arguments 

def pos_args(dog, /):
    print(dog)

pos_args('khaire')

khaire

In [26]:
# keyword only arguments 

def key_args(*, cat, rat):
    print(cat, rat)

key_args(cat = 'Millie', rat='Chua')

Millie Chua

In [27]:
# combining positional only  and keyword only 

def combining(fname, lname, /, *, age):
    print('My name is ',fname, lname, 'and i am ', age, 'years old.')

combining('Prajjwol', 'Thapa', age = 21)

My name is  Prajjwol Thapa and i am  21 years old.

In [ ]:
# arbitrary arguments *args  allows a function to accept any number of positional arguments

def my_friends(*friends):
    print('My friend is a cricketer and his name is', friends[2])

my_friends('Niraj', 'Pramod', 'Prashant')

My friend is a cricketer and his name is Prashant

In [35]:
# args with regular arguments 

def my_function(greeting, *names):
    for name in names:
        print(greeting, name)
my_function('Good Morning!', 'Prajjwol', 'Niraj', 'Pramod')

Good Morning! Prajjwol
Good Morning! Niraj
Good Morning! Pramod

In [36]:
# sum of any numbers using args

def addition(*numbers):
    total = 0
    for num in numbers:
        total += num
    return total

addition(10,20,30,40)

100

In [38]:
# finding the max value

def max_number(*numbers):
    if len(numbers) == 0:
        return None

    max_num = numbers[0]
    for num in numbers:
        if num > max_num:
            max_num = num
    return max_num

print(max_number(10,20,30,100))

100

In [42]:
# arbitary keyword arguments **kwargs

def my_kids(**kids):
    print('His lastname is', kids['lname'])

my_kids(fname = 'Prajjwol', lname = 'Thapa')

His lastname is Thapa

In [47]:
# combining *args and *kwargs

def combo(Bname, *author, **coauthor):
    print('My fav book is', Bname, 'and its author is', author, 'also its coauthor is', coauthor)

combo('Python', 'Prajjwol','Pramod', coauthor= 'Niraj')

My fav book is Python and its author is ('Prajjwol', 'Pramod') also its coauthor is {'coauthor': 'Niraj'}

In [48]:
# unpacking lists with * 

def my_function(a, b, c):
    return a+b+c

numbers = [1,2,3]
result = my_function(*numbers)
print(result)

6

In [56]:
# local scope 

def l_Scope():
    x= 300
    print(x)

l_Scope()

300

In [55]:
# function inside function

def l_Scope():
    x= 200
    def nested_Scope():
        print(x)
    nested_Scope()
    
l_Scope()

200

In [57]:
# global scope 

x = 100

def global_function():
    print(x)

global_function()

100

In [ ]:
# naming variables 

x = 100 

def local_function():
    x = 200
    print(x)

local_function()      # it will first print the local value then the global value

print(x)

200
100

In [ ]:
# using global keyword 

def global_word():
    global x                  # makes the variable x adn its assigned value available globally
    x= 100

global_word()
print(x)

100

In [ ]:
# non local keyword 

def  non_local_1():
    x = 'Niraj'
    def non_local_2():
        nonlocal x             # the value of x belongs to the non_local_1 with the use of nonlocal
        x = 'Wassup'
    non_local_2()
    return x

print(non_local_1())

Wassup

In [68]:
# loops 

# the while loop 

num = 1 
while num <= 6:
    print(num)
    num += 1

1
2
3
4
5
6

In [ ]:
# the break statement 

num = 0

while num <= 7:
    print(num)
    if num == 5:
        break            # break condition stops the loop when num == 5
    num += 1

0
1
2
3
4
5

In [ ]:
# the continue statement 

num = 0
while num <=7:
    num +=1
    if num == 5:
        continue          # the continue statement skips that called iteration and starts other execution
    print(num)

1
2
3
4
6
7
8

In [ ]:
# for loops 

names = ['Prajjwol', 'Niraj','Bhups']
for name in names:
    print(name)        # prints each name in the list 
    print(name[2])      # print the 2nd index of each names

Prajjwol
a
Niraj
r
Bhups
u

In [80]:
# looping through a string
for letter in 'Ronaldo':
    print(letter)
    if letter == 'a':
        break

R
o
n
a

In [83]:
# for loop with continue statement 

for letter in 'PrajjwolThapa':
    if letter == 'j':
        continue
    print(letter)

P
r
a
w
o
l
T
h
a
p
a

In [85]:
# range function

for num in range(1,10):
    print(num)          # print len(num)-1
    if num == 5:
        break

1
2
3
4
5

In [86]:
# nested loops

names = ['Prajjwol', 'Niraj', 'Pratik']
last_name = ['Thapa', 'Kafle','Adhikari']

for name in names:
    for lname in last_name:
        print(name, lname)

Prajjwol Thapa
Prajjwol Kafle
Prajjwol Adhikari
Niraj Thapa
Niraj Kafle
Niraj Adhikari
Pratik Thapa
Pratik Kafle
Pratik Adhikari

In [90]:
# lists 

# allows duplicates

my_names = ['Prajjwol','Niraj', 'Kanchan','Kanchan']
my_names


#changable
my_names[3] = 'Pramod'
my_names 

# length of lists 
print(len(my_names))

4

In [95]:
# negative indexing

numbers = [1,2,3,4,5,6,7,8,9]

numbers[-1]

9

In [ ]:
# range of indexes 

fruits = ['Apple', 'Banana', 'Cherry', 'Kiwi','Melon','Mango']

print(fruits[0:3])      # prints the result upto the 2nd index meaning n-1

print(fruits[:4])       # starts from the beginning that is 0th index

print(fruits[3:])       # prints till the last index

print(fruits[:-4])      # the negative index starts from the last with -1

['Apple', 'Banana', 'Cherry']
['Apple', 'Banana', 'Cherry', 'Kiwi']
['Kiwi', 'Melon', 'Mango']
['Apple', 'Banana']

In [103]:
# checking the list if items exists

if 'Prajjwol' in fruits:
    print('It is listed here.')
else:
    print('Not available')

Not available

In [ ]:
# inserting items using insert 

my_list = [1,2,3,4,5]

my_list.insert(2, 100)      # (index, replacing value)

my_list

[1, 2, 100, 3, 4, 5]

In [ ]:
# apppeding items 

append_list = [1,2,3,4,5]

append_list.append(100)    # adds 100 at the last of the list

append_list

[1, 2, 3, 4, 5, 100]

In [ ]:
# extending the list 

num_1 = [1,2,3,4,5]
num_2 = [6,7,8,9,10]

num_1.extend(num_2)     # joins the num_2 list with num_1 list
print(num_1)            # we can join list with any other objects like tuples, dictionaries

None

In [ ]:
# removing the items 

num_1.remove(1)     # removes the specific item from the list

print(num_1)

num_1.pop(4)        # pops the item of the index 4

print(num_1)

[2, 3, 4, 5, 7, 8, 10]

In [ ]:
# del keyword

thislist = ["apple", "banana", "cherry"]

del thislist[2]     # deletes the item at the index 2

thislist

['apple', 'banana']

In [126]:
# clearing the list 

thislist.clear()

thislist

[]

In [2]:
# list comprehension

squares = [x**2 for x in range(10)]

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if 'a' in x]       # expression, item, iteration

print(newlist)

['apple', 'banana', 'mango']

In [6]:
upper_list = [x.upper() for x in ['prajjwol', 'niraj']]

print(upper_list)

['PRAJJWOL', 'NIRAJ']

In [ ]:
# dictionaries 

this_dict = {
    'brand': 'Ford',
    'model': 'Mustang',
    'year': 1964,
    'year':2020     #duplicate values overwrite the existing value
}

print(this_dict)

print(this_dict['brand'])

print(len(this_dict))

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}
Ford
3